Source: keeptalking
Section: admin
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 7), python-all, python-support
X-Python-Version: >= 2.6
Standards-Version: 3.9.3.1
Homepage: http://launchpad.net/keeptalking

Package: keeptalking
Architecture: all
Depends: ${python:Depends}, python-keeptalking, python-t9n, python-gi, gir1.2-gtk-3.0, screen
Description: Internationalization & Localization setting chooser -- Main executables
 Keeptalking is a Python-written application that lets the user
 choose the desidered Locale, Keyboard settings and Timezone.
 .
 This package contains the main keeptalking executables (GTK
 and command-line frontends)

Package: python-keeptalking
Architecture: all
Depends: ${python:Depends}, coreutils, console-common, python-t9n
Description: Internationalization & Localization setting chooser -- Libraries
 Keeptalking is a Python-written application that lets the user
 choose the desidered Locale, Keyboard settings and Timezone.
 .
 This package contains the public keeptalking libraries.
 
#Package: python-t9n
#Architecture: all
#Depends: ${python:Depends}
#Description: A very simple python translation library
# t9n is a simple translation library 
